PROJECT_ENV=local

RANDOM_SEED=42

DATA_START_DATE=2026-01-01
DATA_END_DATE=2026-08-01

DATA_SCALE=small

# Oracle container
ORACLE_HOST=localhost
ORACLE_PORT=1521
ORACLE_SERVICE=FREEPDB1

ORACLE_SYSTEM_PASSWORD=ChangeMe_System_2026

# Application schema owner
NOVAPLAY_OWNER=NOVAPLAY_OWNER
NOVAPLAY_OWNER_PASSWORD=ChangeMe_Owner_2026

# Databricks read-only account
DATABRICKS_READER=DATABRICKS_READER
DATABRICKS_READER_PASSWORD=ChangeMe_Reader_2026